:root {
  /*index.html bg colors*/
  --main-background-color: #ffffff;
  --header-background-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-background-color: #f5f5f5;
  --team-bg-color: #f5f4fa;

  /*index.html text colors*/

  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --address-text-color: 757575;
  --address-footer-text-color: rgba(255, 255, 255, 0.6);
  --address-text-accent-color: #2196f3;

  --header-text-color: #212121;
  --header-text-accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid salmon; */
}

.section {
  padding-top: 94px;
}

/* margin-left: auto;
  margin-right: auto; то же самое что и margin: 0 auto; */

/*--common design elements--загальні елементи оформлення--*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

p {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.buttons {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  font-family: inherit;
  background-color: #f5f4fa;
  color: #212121;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  border: none;

  color: #212121;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.buttons-filter:hover,
.buttons-filter:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*----------------------------HEADER-------------------------------*/

header {
  border-bottom: 1px solid #ececec;
}

.header {
  background-color: var(--header-bg-color);
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-connect {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.logo {
  font-family: 'Raleway';
  color: var(--accent-color);
}

.topLogo {
  color: var(--main-text-color);
}

.logo-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.menu-item {
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
  color: var(--header-text-accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.adress-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  fill: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont-pics {
  margin-right: 10px;
}

.adress-item:hover .cont-pics {
  fill: #2196f3;
}
.adress-item:focus .cont-pics {
  fill: #2196f3;
}

.adress-item:hover,
.adress-item:focus {
  color: var(--accent-color);
}

/* .adress-item:hover, */
/* .adress-item:focus {
  color: var(--address-text-accent-color);
} */

.nav {
  display: flex;
  gap: 50px;
  margin-top: 1px;
}

/*------------------HERO------------------------*/

.hero {
  background-color: var(--hero-bg-color);
  color: var(--hero-text-color);
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-bg.jpg);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*------------------MAIN and Main portfolio-----------------*/

.pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  margin-bottom: 30px;
}
/*----------------------some pics---------------------------*/
.info {
  display: flex;
  gap: 30px;
}

.list-item-1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.list-item-text-1 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;

  color: #757575;
}

.list-item-2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.list-item-text-2 {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;

  color: #757575;
}
.list-item-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  letter-spacing: 0.03em;
}
.container-list {
  margin-top: 94px;
}

.filter {
  text-align: center;
}

.work-img {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-img {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}
.card-portfolio {
  box-sizing: border-box;
  left: 215px;
  top: 262px;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

/*------------------TEAM-------------------------*/

.team {
  background-color: var(--team-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}
.list-item-work {
  text-align: center;
}

.team-img {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.teammate {
  padding: 30px 30px;
}

.card {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1782px;
  text-align: center;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.soc-team-items {
  width: 44px;
  height: 44px;
  background-color: var(--main-background-color);
  fill: #afb1b8;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-team-items:hover,
.soc-team-items:focus {
  background-color: var(--accent-color);
}

.soc-team-items:hover .team-box {
  fill: #ffffff;
}

.team-box {
  display: flex;
  margin: auto;
  flex-direction: row;
}

.soc-team-link:hover .soc-team-link:focus {
  fill: #2196f3;
}

.soc-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 16px;
}

/*------------------Clients-----------------*/

.company {
  padding-top: 94px;
  padding-bottom: 94px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.company-icons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.company-icons-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

/* .company-box:hover,
.company-box:focus {
  fill: #2196f3;
} */

.company-icons-item:hover .company-box {
  fill: #2196f3;
}
.company-icons-item:focus .company-box {
  fill: #2196f3;
}

/*--------------------FOOTER-----------------*/

address {
  font-style: normal;
  margin-top: 20px;
}

.footer {
  background-color: #2f303a;
}

.bottomLogo {
  font-family: 'Raleway';
  color: var(--hero-text-color);
}
.logo-link-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.adress-bottom-item {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 9px;
}

.e-mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-bottom: 9px;
}
.phone {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-bottom-item:hover,
.adress-bottom-item:focus,
.e-mail:focus,
.e-mail:hover,
.phone:focus,
.phone:hover {
  color: var(--address-text-accent-color);
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-net {
  display: flex;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 6px;
  margin-bottom: 20px;
}

.soc-container {
  margin-left: 156px;
}

.soc-net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-net-items {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-net-items:focus,
.soc-net-items:hover {
  background-color: #2196f3;
}

.soc-net-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
}

.icon-box {
  display: flex;
  margin: auto;
  flex-direction: row;
}
